
/*1440p*/
@media screen and (min-width: 2141px) and (max-width: 3000px) {
    
  
  button:hover {
       transition: 0.2s ease-in;
       filter: brightness(85%);
    }
    .ripple {
       transition: background 0.8s;
       position: relative;
      
       border: none;
       color: #fff;
       background: #031B28;  
       background-size:  130%;
       -webkit-border-radius: 10px;
       box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
       font-family: 'Redressed';
}
    .ripple:hover {
        background: #E89C31 radial-gradient(circle, transparent 1%, #E89C31 1%) center/15000%;
    }
    .ripple:active {
        background-color: white;
        background-size: 100%;
        transition: background 0s;
    }

    #ibutton1{
      
      top: -54%;
      right: 36%;
      width:150px;
      height:50px;
      margin-block: auto 20px;
      text-decoration:none;
      color: white;
    }

    #ibutton2{
       top: 44%;
       left: 93%;
       width:150px;
       height:50px;
       position: absolute;
    }

    #ibutton3{
      position: absolute;
      top: 25%;
      left: 96%;
      width: 150px;
      height:50px;
       
    }

    #ibutton4{
      position: absolute;
       top: 70.6%;
       left: 45.7%;
       width:120px;
       height:40px;
       transform: rotate(-7deg)
    }
    #ibutton5{
       top: 54%;
       left: 30.7%;
        width:85px;
       height:350px;
       transform: rotate(-11deg)
    }

    #ibutton6 {
       bottom: 399%;
       right: 42%;
       width:150px;
       height:50px;
          text-decoration:none;
       color: white;
    }
    #hButton{
       top: 2%;
       left: 2%;
       width:150px;
       height:50px;
    }

.card {
  
  background: #fff;
  display: inline-block;
  margin: 1rem;
  position: absolute;
   display: flex;
  justify-content: space-between;

}
    .card-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border-radius:20px;
  height: 600px;
  width: 300px;
  top: 8%;
  left: 25%;
  float: left;
}

    .card-1 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border-radius:20px;
  height: 300px;
  width: 600px;
  top: 10%;
  left: 25%;
}

    .card-2 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border-radius:20px;
  height: 450px;
  width: 600px;
  top: 10%;
  left: 25%;
}

.card-3 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border-radius:20px;
  height: 150px;
  width: 300px;
  top: -8%;
  left: 25%;
}

#parag{
  height: 300px;
  width: 300px;
  top: 15%;
  left: 53%;
  position: absolute;
  font-family: Smooch Sans;
  font-size: 30;
}

#parag2{
  height: 300px;
  width: 285px;
  top: 2%;
  left: 2%;
   position: absolute;
  font-family: Smooch Sans;
  font-size: 23.1;
  text-align: justify;
  text-justify: inter-word;
}

#ibutton7 {
       top: 29%;
       left: 25%;
       width:150px;
       height:50px;
    text-decoration:none;
       color: white;
    }
   
.bg {
      background-image: url('assets/bg.jpg');
     
      position: absolute; 

      width: 100%;
      height: 100%;
      
     
  }


  bg {
   background-position: absolute; 
   height: 100%;
   width: 100%;
}

.img-container {
   position: relative;
 }

}
/*4K*/
@media screen and (min-width: 400px) and (max-width: 1900px) {
    
  
  
  button:hover {
       transition: 0.2s ease-in;
       filter: brightness(85%);
    }
    .ripple {
       transition: background 0.8s;
       position: relative;
      
       border: none;
       color: #fff;
       background: #031B28;  
       background-size:  130%;
       -webkit-border-radius: 10px;
       box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
       font-family: 'Redressed';
}
    .ripple:hover {
        background: #E89C31 radial-gradient(circle, transparent 1%, #E89C31 1%) center/15000%;
    }
    .ripple:active {
        background-color: white;
        background-size: 100%;
        transition: background 0s;
    }

    #ibutton1{
      display: flex;
      flex-direction: column;
      top: 6%;
      left: 14%;
      width:150px;
      height:50px;
      margin-block: auto 20px;
      text-decoration:none;
      color: white;
    }

    #ibutton2{
       top: 42.5%;
       left: 80%;
       width:150px;
       height:50px;
       position: absolute;
    }

    #ibutton3{
      position: absolute;
      top: 23%;
      left: 78%;
      width: 150px;
      height:50px;
      
       
    }

    #ibutton4{
      position: absolute;
       top: 70.3%;
       left: 45.6%;
       width:120px;
       height:40px;
       transform: rotate(-7deg)
    }
    #ibutton5{
       top: 50%;
       left: 40.7%;
        width:805px;
       height:27px;
       transform: rotate(-11deg)
    }

    #ibutton6 {
       bottom: 200%;
       right: 25%;
       width:150px;
       height:50px;
      text-decoration:none;
       color: white;
    }
    #hButton{
       top: 2%;
       left: 2%;
       width:150px;
       height:50px;
    }

.card {
  
  background: #fff;
  display: inline-block;
  margin: 1rem;
  position: absolute;
   display: flex;
  justify-content: space-between;

}

.projectcard {
  
  background: #fff;
  display: inline-block;
  margin: 1rem;
  position: absolute;
   display: flex;
  justify-content: space-between;

}
    .card-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border-radius:20px;
  height: 600px;
  width: 300px;
  top: 8%;
  left: 25%;
  float: left;
}

    .card-1 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border-radius:20px;
  height: 300px;
  width: 600px;
  top: 10%;
  left: 25%;
}

    .card-2 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border-radius:20px;
  height: 450px;
  width: 600px;
  top: 10%;
  left: 25%;
}

.card-3 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border-radius:20px;
  height: 150px;
  width: 300px;
  top: -8%;
  left: 25%;
}

#parag{
  height: 300px;
  width: 300px;
  top: 15%;
  left: 53%;
  position: absolute;
  font-family: Smooch Sans;
  font-size: 30;
}

#parag2{
  height: 300px;
  width: 285px;
  top: 2%;
  left: 2%;
   position: absolute;
  font-family: Smooch Sans;
  font-size: 23.1;
  text-align: justify;
  text-justify: inter-word;
}

#ibutton7 {
       top: 29%;
       left: 25%;
       width:150px;
       height:50px;
    text-decoration:none;
       color: white;
    }
   
.bg {
      background-image: url('assets/bg.jpg');
     
      position: absolute; 

      width: 100%;
      height: 100%;  
  }


  bg {
   background-position: absolute; 
   height: 100%;
   width: 100%;
}

.img-container {
   position: relative;
 }
}
/*1080p*/
@media screen and (min-width: 1901px) and (max-width: 2140px) {
    
  
  
  button:hover {
       transition: 0.2s ease-in;
       filter: brightness(85%);
    }
    .ripple {
       transition: background 0.8s;
       position: relative;
      
       border: none;
       color: #fff;
       background: #031B28;  
       background-size:  130%;
       -webkit-border-radius: 10px;
       box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
       font-family: 'Redressed';
}
    .ripple:hover {
        background: #E89C31 radial-gradient(circle, transparent 1%, #E89C31 1%) center/15000%;
    }
    .ripple:active {
        background-color: white;
        background-size: 100%;
        transition: background 0s;
    }

    #ibutton1{
      display: flex;
      flex-direction: column;
    
      right: 10%;
      width:150px;
      height:50px;
      margin-block: auto 20px;
      text-decoration:none;
      color: white;
    }

    #ibutton2{
       top: 44%;
       left: 94%;
       width:150px;
       height:50px;
       position: absolute;
    }

    #ibutton3{
      position: absolute;

      top: 25vh;
      left: 62vw;
      width: 150px;
      height:50px;
      transform: translateX(-250%);
       
    }

    #ibutton4{
      position: absolute;
       top: 71.3%;
       left: 44.6%;
       width:150px;
       height:50px;
       transform: rotate(-7deg)
    }
    #ibutton5{
       top: 50%;
       left: 26.7%;
        width:805px;
       height:27px;
       transform: rotate(-11deg)
    }

    #ibutton6 {
       bottom: 300%;
       right: 37%;
       width:1500px;
       height:50px;
      text-decoration:none;
       color: white;
    }
    #hButton{
       top: 2%;
       left: 2%;
       width:150px;
       height:50px;
    }

.card {
  
  background: #fff;
  display: inline-block;
  margin: 1rem;
  position: absolute;
   display: flex;
  justify-content: space-between;

}
    .card-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border-radius:20px;
  height: 600px;
  width: 300px;
  top: 8%;
  left: 25%;
  float: left;
}

    .card-1 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border-radius:20px;
  height: 300px;
  width: 600px;
  top: 10%;
  left: 25%;
}

    .card-2 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border-radius:20px;
  height: 450px;
  width: 600px;
  top: 10%;
  left: 25%;
}

.card-3 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border-radius:20px;
  height: 150px;
  width: 300px;
  top: -8%;
  left: 25%;
}

#parag{
  height: 300px;
  width: 300px;
  top: 15%;
  left: 53%;
  position: absolute;
  font-family: Smooch Sans;
  font-size: 30;
}

#parag2{
  height: 300px;
  width: 285px;
  top: 2%;
  left: 2%;
   position: absolute;
  font-family: Smooch Sans;
  font-size: 23.1;
  text-align: justify;
  text-justify: inter-word;
}

#ibutton7 {
       top: 29%;
       left: 25%;
       width:150px;
       height:50px;
    text-decoration:none;
       color: white;
    }
   
.bg {
      background-image: url('assets/bg.jpg');
     
      position: absolute; 

      width: 100%;
      height: 100%;  
  }


  bg {
   background-position: absolute; 
   height: 100%;
   width: 100%;
}

.img-container {
   position: relative;
 }
}

.white-icon {
  color: white;
}
